[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "==3.2.2"
progressbar2 = "*"
pandas = "*"
bar-chart-race = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
ipython = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
whatstat = "python whatstat/main.py"
mergechats = "python whatstat/merge_chat_files.py"
